.div1{
	padding-left: 120px;
	padding-top: 2px;
	 background-color:#989898;
	 height:70px;

}
.div2{
	width:70%;
	margin:0 auto;
	height:40px;
    border-bottom: 1px dashed green;
    padding-top: 50px;
}
.div3{
	width:70%;
	height:700px;
	margin:auto;
	border-bottom: 1px solid black;

}
.div4{
	 height:50px;
	 background-color: #989898;
}
.boke{
       font-family: arial;
       font-weight: bolder;
       font-style: italic;
       font-size: 30px;
       color:white;
}
.img{
	position:absolute;
	top: 0px;
	left:0px;
	width: 10px;
	
}
.ta{
	height:500px;
	width: 700px;
}
fieldset{
padding:20px;	
height: 500px;
}
legend{
	font-weight: bolder;
	font-size: 20px;
}
th{
	padding-bottom: 15px;
}
span{
	position: absolute;
	top:240px;
	left:470px;
	color:red;
	font-size: 15px;
}
#tishi{
    position: absolute;
    top:280px;
    left:520px;
}
#yanse{
	color: red;
}